@model SIBKMNETMvc_WebApp.Models.Province

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Province</h4>
    <hr />
    <dl class="row">
    <div>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Region.Id)
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Region.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Region.Name)
        </dd>
     </div>
    </dl>
</div>
<div>
    <a class="btn btn-primary btn-sm" href="/Province/Edit?id=">Edit</a>
    <a class="btn btn-primary btn-sm" href="/Province/Index">Back to List</a>
</div>
